services:
  brobot-db:
    container_name: brobot-db-dev
    image: postgres:alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=brobot
      - POSTGRES_USER=brobot
      - POSTGRES_PASSWORD=D3vPa55!
    ports:
      - 5432:5432
  seq:
    image: datalust/seq:latest
    container_name: seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=password
    ports: 
      - 5341:80
    volumes:
      - seq-data:/data
volumes:
  postgres-data:
  seq-data: