services:
  # === Reverse Proxy ===
  nginx-proxy:
    image: nginxproxy/nginx-proxy:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: unless-stopped
    
  # === Let's Encrypt HTTPS Companion ===
  acme-companion:
    image: nginxproxy/acme-companion:latest
    container_name: acme-companion
    environment:
      - DEFAULT_EMAIL=evan.lundell@gmail.com
      - NGINX_PROXY_CONTAINER=nginx-proxy
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - nginx-proxy
    restart: unless-stopped
    
  brobot-db:
    container_name: brobot-db
    image: postgres:17-alpine
    volumes:
      - ${BROBOT_DB_DATA_PATH}:/var/lib/postgresql/data:rw
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    restart: unless-stopped
    
  brobot:
    container_name: brobot
    image: evanlundell/brobot:${IMAGE_TAG}
    env_file:
      - ./brobot.env
    expose:
      - "8080"
    restart: unless-stopped
    depends_on:
      brobot-db:
        condition: service_started
      seq:
        condition: service_started
        
  seq:
    image: datalust/seq:latest
    container_name: seq
    environment:
      - ACCEPT_EULA=Y
      - VIRTUAL_HOST=brobot-logs.zapto.org
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=brobot-logs.zapto.org
      - LETSENCRYPT_EMAIL=evan.lundell@gmail.com
      - SEQ_FIRSTRUN_ADMINPASSWORD=password
    expose:
      - "80"
    volumes:
      - seq_data:/data
    restart: unless-stopped
      
volumes:
  seq_data:
  certs:
  vhost:
  html: