@page "/register"
@inject JwtAuthenticationStateProvider JwtAuthenticationStateProvider

<PageTitle>Register</PageTitle>

@if (JwtAuthenticationStateProvider.IsLoggedIn)
{
    <p>You are already registered!</p>
    <p><a href="/">Home</a></p>
}
else
{
    <RegistrationForm />
}