@inherits ModalBase

<div id="@Id" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="modal-body">
                @ModalBody
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="HideModal">Ok</button>
            </div>
        </div>
    </div>
</div>
