@inject ApiService ApiService
@inject ILogger<ChangePassword> Logger
@inject IToastService ToastService

<div class="row my-3">
        <div class="col-md-3">
            <button class="btn btn-primary" type="button" @onclick="ShowChangePasswordModal">Change Password</button>
        </div>
    </div>
    <Modal Id="changePasswordModal" @ref="_changePasswordModal">
        <ModalHeader>
            <h4 class="modal-title">Change Password</h4>
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@_changePasswordRequest" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row my-3">
                    <div class="col-xs-12 form-group">
                        <label class="form-label">Current Password</label>
                        <InputText type="password" @bind-Value="_changePasswordRequest.CurrentPassword" class="form-control"/>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-xs-12 form-group">
                        <label class="form-label">New Password</label>
                        <InputText type="password" @bind-Value="_changePasswordRequest.NewPassword" class="form-control"/>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-xs-12 form-group">
                        <label class="form-label">Confirm New Password</label>
                        <InputText type="password" @bind-Value="_changePasswordRequest.ConfirmNewPassword" class="form-control"/>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-warning mx-2" @onclick="HideChangePasswordModal">Cancel</button>
                        <button type="submit" class="btn btn-primary mx-2">Save</button>
                    </div>
                </div>
            </EditForm>
        </ModalBody>
        <ModalFooter>
        </ModalFooter>
    </Modal>
@code {

    private ChangePasswordRequest _changePasswordRequest = new ChangePasswordRequest
    {
        CurrentPassword = "",
        NewPassword = "",
        ConfirmNewPassword = ""

    };

    private Modal? _changePasswordModal;
    private string? _errorMessage;

    private async Task ShowChangePasswordModal()
    {
        if (_changePasswordModal == null)
        {
            return;
        }

        await _changePasswordModal.ShowModal();
    }

    private async Task HideChangePasswordModal()
    {
        if (_changePasswordModal == null)
        {
            return;
        }

        await _changePasswordModal.HideModal();
    }

    private async Task ChangePasswordAsync()
    {
        try
        {
            await ApiService.ChangePassword(_changePasswordRequest);
            await HideChangePasswordModal();
            ToastService.ShowSuccess("Password change successful!");
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Failed to change password. {ex.Message}");
        }
    }
}