@inject ApiService ApiService
@inject ILogger<ChangePassword> Logger

<div class="row my-3">
        <div class="col-md-3">
            <button class="btn btn-primary" type="button" @onclick="ShowChangePasswordModal">Change Password</button>
        </div>
    </div>
    <FormModal
        Id="changePasswordModal"
        @ref="changePasswordModal"
        Model="@changePasswordRequest"
        OnValidSubmit="ChangePasswordAsync"
        Title="Change Password">
        <ModalBody>
            @if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <div class="row">
                    <div class="col-xs-12">
                        <span style="color: red">Failed to change password</span>
                    </div>
                </div>
            }
            <div class="row my-3">
                <div class="col-xs-12 form-group">
                    <label class="form-label">Current Password</label>
                    <InputText type="password" @bind-Value="changePasswordRequest.CurrentPassword" class="form-control"/>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-xs-12 form-group">
                    <label class="form-label">New Password</label>
                    <InputText type="password" @bind-Value="changePasswordRequest.NewPassword" class="form-control"/>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-xs-12 form-group">
                    <label class="form-label">Confirm New Password</label>
                    <InputText type="password" @bind-Value="changePasswordRequest.ConfirmNewPassword" class="form-control"/>
                </div>
            </div>
        </ModalBody>
    </FormModal>
@code {

    private ChangePasswordRequest changePasswordRequest = new ChangePasswordRequest
    {
        CurrentPassword = "",
        NewPassword = "",
        ConfirmNewPassword = ""

    };

    private FormModal? changePasswordModal;
    private string? errorMessage;

    private async Task ShowChangePasswordModal()
    {
        if (changePasswordModal == null)
        {
            return;
        }

        await changePasswordModal.ShowModal();
    }

    private async Task HideChangePasswordModal()
    {
        if (changePasswordModal == null)
        {
            return;
        }

        await changePasswordModal.HideModal();
    }

    private async Task ChangePasswordAsync()
    {
        try
        {
            await ApiService.ChangePassword(changePasswordRequest);
            await HideChangePasswordModal();

        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to change password");
            errorMessage = "Failed to change password";
        }
    }
}