@inject ApiService ApiService
@inject IToastService ToastService

@if (_messageCountData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12 my-5 rz-shadow-1">
            <h3>Daily Message Count</h3>
            <RadzenChart>
                <RadzenLegend Visible="false"></RadzenLegend>
                <RadzenLineSeries Title="Message Count" Data="@_messageCountData" CategoryProperty="CountDate" LineType="LineType.Solid" ValueProperty="MessageCount">
                    <RadzenMarkers MarkerType="MarkerType.Circle"></RadzenMarkers>
                </RadzenLineSeries>
                <RadzenValueAxis>
                    <RadzenAxisTitle Text="Message Count" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
}

@code {
    private DailyMessageCountResponse[]? _messageCountData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _messageCountData = await ApiService.GetDailyMessageCount();

        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
    }

}