@inject ApiService Api
@inject NavigationManager NavigationManager
@inject JwtService JwtService

<p>Please authenticate with Discord. This only needs to be done once.</p>

<button type="button" class="btn btn-primary" @onclick="AuthenticateWithDiscord">Authenticate with Discord</button>

@code {
    private async Task AuthenticateWithDiscord()
    {
        var discordUrl = await Api.GetDiscordAuthUrl();
        NavigationManager.NavigateTo(discordUrl);
    }
}