@inject ApiService ApiService
@inject IToastService ToastService
@inherits DashboardGraphBase

@if (_topUsersToday == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="p-3">
        <div class="row">
            <div class="col-12">
                <h3>Top Users (Today)</h3>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <label class="form-label">Channel</label>
                <select class="form-select" @onchange="OnChannelChange">
                    <option value="">All</option>
                    @foreach (var channel in Channels ?? [])
                    {
                        <option value="@channel.Id">@channel.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @if (_topUsersToday.Length == 0)
                {
                    <p><em>No messages in this channel today...</em></p>
                }
                else
                {
                    <ol>
                        @foreach (var messageCount in _topUsersToday)
                        {
                            <li>@messageCount.DiscordUser.Username - @messageCount.MessageCount</li>
                        }
                    </ol>
                }
            </div>
        </div>
    </div>
}

@code {
    private DailyMessageCountResponse[]? _topUsersToday;

    private Dictionary<ulong, DailyMessageCountResponse[]> _topUsersTodayCache = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _topUsersToday = await ApiService.GetTodaysTopUsers();
            _topUsersTodayCache.Add(0, _topUsersToday);
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
        }
    }

    private async Task OnChannelChange(ChangeEventArgs eventArgs)
    {
        if (!ulong.TryParse(eventArgs.Value?.ToString(), out var channelId))
        {
            if (_topUsersTodayCache.TryGetValue(0, out var value))
            {
                _topUsersToday = value;
            }
            else
            {
                _topUsersToday = await ApiService.GetTodaysTopUsers();
                _topUsersTodayCache.Add(0, _topUsersToday);
            }
        }
        else
        {
            if (_topUsersTodayCache.TryGetValue(channelId, out var value))
            {
                _topUsersToday = value;
            }
            else
            {
                _topUsersToday = await ApiService.GetTodaysTopUsers(channelId);
                _topUsersTodayCache.Add(channelId, _topUsersToday);
            }
        }
    }
}