@inherits DashboardGraphBase
@inject ApiService ApiService
@inject IToastService ToastService

@if (_totalTopDaysCounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="p-3">
        <div class="row">
            <div class="col-12">
                <h3>Top Days All Users (All Time)</h3>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <label class="form-label">Channel</label>
                <select class="form-select" @onchange="OnChannelChange">
                    <option value="">All</option>
                    @foreach (var channel in Channels ?? Array.Empty<ChannelResponse>())
                    {
                        <option value="@channel.Id">@channel.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ol>
                    @foreach (var messageCount in _totalTopDaysCounts)
                    {
                        <li>@messageCount.CountDate.ToString("MM/dd/yyyy") - @messageCount.MessageCount</li>
                    }
                </ol>
            </div>
        </div>
    </div>
}

@code {
    private DailyMessageCountResponse[]? _totalTopDaysCounts;
    private Dictionary<ulong, DailyMessageCountResponse[]> _totalTopDaysCache = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _totalTopDaysCounts = await ApiService.GetTotalTopDays();
            _totalTopDaysCache.Add(0, _totalTopDaysCounts);
        }
        catch (Exception e)
        {
            ToastService.ShowError(e.Message);
        }
    }

    private async Task OnChannelChange(ChangeEventArgs eventArgs)
    {
        if (!ulong.TryParse(eventArgs.Value?.ToString(), out var channelId))
        {
            if (_totalTopDaysCache.TryGetValue(0, out var value))
            {
                _totalTopDaysCounts = value;
            }
            else
            {
                _totalTopDaysCounts = await ApiService.GetTotalTopDays();
                _totalTopDaysCache.Add(0, _totalTopDaysCounts);
            }
        }
        else
        {
            if (_totalTopDaysCache.TryGetValue(channelId, out var value))
            {
                _totalTopDaysCounts = value;
            }
            else
            {
                _totalTopDaysCounts = await ApiService.GetTotalTopDays(channelId);
                _totalTopDaysCache.Add(channelId, _totalTopDaysCounts);
            }
        }
    }
}