@inject ApiService ApiService
@inherits LoadableComponentBase

<h3>Users</h3>

<div class="rz-shadow-1">
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>Discord</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in _userResponses ?? [])
        {
            <tr>
                <td>@(user.Email ?? user.Username ?? "unknown")</td>
                <td>
                    @if (user.IsDiscordAuthenticated)
                    {
                        <span class="oi oi-check"></span>
                    }
                </td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>

        }
        </tbody>
    </table>
</div>

@code {
    private IdentityUserResponse[]? _userResponses;

    protected override async Task OnInitializedAsync()
    {
        _userResponses = await ApiService.GetIdentityUsers();
        await UpdateLoaded(true);
    }
}