@inherits LoadableComponentBase
@inject ApiService ApiService

<h3>Word Cloud</h3>

<div class="row">
    <div class="col-md-6 my-2">
        <label class="form-label">Channel</label>
        <InputSelect class="form-select" @bind-Value="_selectedChannelId">
            <option value="">Select a channel...</option>
            @foreach (var channel in _channels)
            {
                <option value="@channel.Id">@channel.Name</option>
            }
        </InputSelect>
    </div>
</div>
<div class="row">
    <div class="col-md-2 my-2">
        <label class="form-label">Months Back</label>
        <InputNumber class="form-control" @bind-Value="_monthsBack" />
    </div>
</div>
<div class="row">
    <div class="col-md-2 offset-md-2 my-2">
        <button class="btn btn-primary form-control" @onclick="GetWordCloud">Generate</button>
    </div>
</div>
<InformationModal @ref="WordCloudModal" Id="wordCloudModal" Title="Word Cloud">
    <ModalBody>
        @if (_wordCloudImage == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <img src="data:image/png;base64,@Convert.ToBase64String(_wordCloudImage)" alt="Word Cloud" class="img-fluid"/>
        }
    </ModalBody>
</InformationModal>

@code {
    private ChannelResponse[] _channels = [];
    private ulong? _selectedChannelId;

    private int _monthsBack;
    
    public required InformationModal WordCloudModal { get; set; }

    private byte[]? _wordCloudImage = null;
    
    protected override async Task OnInitializedAsync()
    {
        _channels = await ApiService.GetChannels();
        await UpdateLoaded(true);
    }

    private async Task GetWordCloud()
    {
        if (_selectedChannelId == null)
        {
            return;
        }

        var response = await ApiService.GetWordCloud(_selectedChannelId.Value, _monthsBack);
        _wordCloudImage = response.Image;
        await WordCloudModal.ShowModal();
    }
}