@inject ApiService ApiService

@if (messageCountData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-8 my-5 rz-shadow-1">
            <h3>Daily Message Count</h3>
            <RadzenChart>
                <RadzenLegend Visible="false"></RadzenLegend>
                <RadzenLineSeries Title="Message Count" Data="@messageCountData" CategoryProperty="CountDate" LineType="LineType.Solid" ValueProperty="MessageCount">
                    <RadzenMarkers MarkerType="MarkerType.Circle"></RadzenMarkers>
                </RadzenLineSeries>
                <RadzenValueAxis>
                    <RadzenAxisTitle Text="Message Count" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
}

@code {
    private DailyMessageCountResponse[]? messageCountData;

    protected override async Task OnInitializedAsync()
    {
        messageCountData = await ApiService.GetDailyMessageCount();
    }

}