@page "/admin"
@inject ApiService ApiService

<PageTitle>Admin</PageTitle>

@if (_channels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SendMessage Channels="@_channels" />
    <UsersTable />
}

@code {
    private ChannelResponse[]? _channels;

    protected override async Task OnInitializedAsync()
    {
        _channels = await ApiService.GetChannels();
    }

}