@page "/discord-cb"
@inject ApiService ApiService
@inject NavigationManager NavigationManager
@inject JwtService JwtService

<PageTitle>Discord Auth Callback</PageTitle>

@if (_syncing)
{
    <p><em>Syncing user data...</em></p>
}

<p>@_message</p>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string Code { get; set; } = "";

    private bool _syncing = true;

    private string _message = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(Code))
            {
                _message = "Unable to sync user. Please logout and try again.";
            }
            else
            {
                await ApiService.SyncDiscordUser(Code);
                await JwtService.RefreshJwtToken();
                NavigationManager.NavigateTo("/");
            }
            _syncing = false;
        }
        catch (Exception)
        {
            _syncing = false;
            _message = "Unable to sync user. Please logout and try again.";
        }
    }
}