@page "/"
@inject JwtAuthenticationStateProvider JwtAuthenticationStateProvider
@inject ApiService ApiService

<PageTitle>Brobot</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-sm-5 rz-shadow-1 m-3">
                <DailyMessagesChart Channels="_channels" />
            </div>
            <div class="col-sm-5 rz-shadow-1 m-3">
                <TotalDailyMessagesChart Channels="_channels" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 rz-shadow-1 m-3">
                <TopUsersToday Channels="_channels" />
            </div>
            <div class="col-sm-5 rz-shadow-1 m-3">
                <TopMessagesAllTime Channels="_channels" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 rz-shadow-1 m-3">
                <TotalTopDaysChart Channels="_channels" />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @if (JwtAuthenticationStateProvider.IsLoggedIn)
        {
            <SyncDiscordButton />
        }
        else
        {
            <LoginForm />
        }
    </NotAuthorized>
</AuthorizeView>

@code
{
    private ChannelResponse[]? _channels;
    
    protected override async Task OnInitializedAsync()
    {
        if (JwtAuthenticationStateProvider.IsLoggedIn)
        {
            _channels = await ApiService.GetChannels();
        }
    }
}
