@page "/"
@inject JwtAuthenticationStateProvider JwtAuthenticationStateProvider

<PageTitle>Brobot</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-sm-5 rz-shadow-1 m-3">
                <DailyMessagesChart />
            </div>
            <div class="col-sm-5 rz-shadow-1 m-3">
                <TotalDailyMessagesChart />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 rz-shadow-1 m-3">
                <TopUsersToday />
            </div>
            <div class="col-sm-5 rz-shadow-1 m-3">
                <TopMessagesAllTime />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @if (JwtAuthenticationStateProvider.IsLoggedIn)
        {
            <SyncDiscordButton />
        }
        else
        {
            <LoginForm />
        }
    </NotAuthorized>
</AuthorizeView>
