@page "/reminders"

<PageTitle>Reminders</PageTitle>

<h4>Reminders</h4>
<RadzenTabs Change="@OnChange" class="my-3" TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="Upcoming">
            <UpcomingReminders @ref="UpcomingReminders" />
        </RadzenTabsItem>
        <RadzenTabsItem Text="Past">
            <CompletedReminders @ref="CompletedReminders" />
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>


@code {
    public required UpcomingReminders UpcomingReminders { get; set; }
    public required CompletedReminders CompletedReminders { get; set; }
    
    private readonly List<ITabbable> _tabs = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _tabs.Add(UpcomingReminders);
            _tabs.Add(CompletedReminders);
            await OnChange(0);
        }
    }
    
    private async Task OnChange(int index)
    {
        await _tabs[index].TabSelected();
    }
}